<h1 align="center"> Machine Learning: Assignment 1</h1><br>

In [68]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.cluster.hierarchy import dendrogram, linkage
from sklearn.cluster import KMeans
from sklearn import metrics
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from pylab import rcParams

<strong><p style="font-size:120%;">1). </strong> Download the Weather data set (a simple data set describing whether or not to play tennis based on the weather conditions)

In [69]:
weather = pd.read_csv('data/weather_dataset.csv')

<strong><p style="font-size:120%;">2). </strong> Represent the following table using 
a data structure of your choice

In [70]:
weather

    Day   outlook  temperature  humidity  windy play
0     1     sunny           85        85  False   no
1     2     sunny           80        90   True   no
2     3  overcast           83        86  False  yes
3     4     rainy           70        96  False  yes
4     5     rainy           68        80  False  yes
5     6     rainy           65        70   True   no
6     7  overcast           64        65   True  yes
7     8     sunny           72        95  False   no
8     9     sunny           69        70  False  yes
9    10     rainy           75        80  False  yes
10   11     sunny           75        70   True  yes
11   12  overcast           72        90   True  yes
12   13  overcast           81        75  False  yes
13   14     rainy           71        91   True   no

In [71]:
#check the datatypes of each column 
weather.dtypes

Day             int64
outlook        object
temperature     int64
humidity        int64
windy            bool
play           object
dtype: object

<ul>
  <li>Calculate the mean temperature and mean humidity</li>
  <li>Print outlook and play for 
those days where the temperature is greater than the 
average temperature</li>
  <li>Print outlook and play for those days where the humidity is greater than the 
average humidity</li>
  <li>Convert the temperature
to Celsius and add a new column therefore in the table. 
Use the following conversion equation</li>C = (F-32) *5/9
</ul>

In [72]:
mean_temp = np.sum(weather.temperature.values) / float(len(weather.temperature.values))
mean_humid = np.sum(weather.humidity.values) / float(len(weather.humidity.values))

print 'mean temperature: ', mean_temp
print 'mean humid: ', mean_humid

mean temperature:  73.5714285714
mean humid:  81.6428571429

Print outlook and play for those days where the humidity is greater than the average humidity

<h2 align="center">Print outlook and play for those days where the temperature is greater than the average temperature</h2>

In [76]:
temp_condition = weather['temperature'] > mean_temp

great_mean_temp = weather[['Day','outlook']][temp_condition]
pd.DataFrame(great_mean_temp)

    Day   outlook
0     1     sunny
1     2     sunny
2     3  overcast
9    10     rainy
10   11     sunny
12   13  overcast

<h2 align="center">Print outlook and play for those days where the humidity is greater than the average humidity</h2>

In [74]:
humid_condition = weather['humidity'] > mean_humid

great_mean_humid = weather[['Day','outlook']][humid_condition]
pd.DataFrame(great_mean_humid)

    Day   outlook
0     1     sunny
1     2     sunny
2     3  overcast
3     4     rainy
7     8     sunny
11   12  overcast
13   14     rainy

<h2 align="center">Convert the temperature
to Celsius and add a new column therefore in the table. 
Use the following conversion equation 
C = (F-32) *5/9 </h2>

In [75]:
weather['Celsius'] = weather['temperature'].apply(lambda x:(x -32.0) *5.0/9)
weather

    Day   outlook  temperature  humidity  windy play    Celsius
0     1     sunny           85        85  False   no  29.444444
1     2     sunny           80        90   True   no  26.666667
2     3  overcast           83        86  False  yes  28.333333
3     4     rainy           70        96  False  yes  21.111111
4     5     rainy           68        80  False  yes  20.000000
5     6     rainy           65        70   True   no  18.333333
6     7  overcast           64        65   True  yes  17.777778
7     8     sunny           72        95  False   no  22.222222
8     9     sunny           69        70  False  yes  20.555556
9    10     rainy           75        80  False  yes  23.888889
10   11     sunny           75        70   True  yes  23.888889
11   12  overcast           72        90   True  yes  22.222222
12   13  overcast           81        75  False  yes  27.222222
13   14     rainy           71        91   True   no  21.666667

In [89]:
# convert play datatype to string
#weather['play'].apply(lambda x: str(x))
weather['play']

14